@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.sarabun-regular {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero-background {
  background-image: url('../background.png');
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: bottom;
  background-position-x: right;
}

.about-background {
  background-image: url('../about me.png');
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: bottom;
  background-position-x: center;
}

.about-me {
  height: 20vw;
}

.about {
  grid-template-columns: "3fr 1fr";
  display: grid; 
}

.iframe-mobile {
  min-height: 550px;
  max-height: 650px; 
  max-width: 1300px;
}

@media (max-width: 768px) {
  .iframe-mobile {
    min-height: 300px;
    max-height: 340px; 
    max-width: 1300px;
  }

}


@media (max-width: 640px) {
  .hero-background {
    background-image: url('');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: bottom;
    background-position-x: right;
  }

  .about-me {
    height: 50vw;
  }

  .about-background {
    background-image: none;
  }

}
